@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'VT323',sans-serif !important;
  overflow-x: hidden;
}
label {
    display: block;
    margin-top: 10px;
  }
  .form-group img {
    width: 100%;
  }
  .card-container.card {
    max-width: 450px !important;
    padding: 40px 40px;
  }
  body {
    background: #f1ede2;
  }
  .tasting {
    border-radius: 5px;
    padding: 0px 14px;
  }
  .tasting:hover {
    background: #840c4a;
    color: white;
  }
  .tasting a:hover {
    color: white;
  }
  .tasting a {
    border-radius: 2px;
  }
  .tasting a:hover {
  }
  .card {
    background-color: #fff;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    box-shadow: 1px 1px 10px rgb(42 26 93 / 10%);
    border-radius: 8px;
    border: 0px;
    margin-top: 100px;
  }
  .navbar-brand {
    margin-right: 5rem;
  }
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  body {
    position: relative;
    margin: 0;
  }
  
  .logo-header {
    width: 200px;
  }
  .navbar {
    background-color: #f1ede2 !important;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 1px 1px 10px rgb(42 26 93 / 10%);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar a {
    color: #000;
  }
  .navbar i {
    color: #000;
  }
  .btn-primary {
    background-image: #840c4a;
    border: 1px solid #840c4a;
    background-color: #840c4a;
  }
  .btn-primary:hover,
  .btn-primary:focus {
    border: 1px solid #840c4a !important;
    background: transparent;
    color: #840c4a !important;
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    border: 1px solid #840c4a;
    background-color: transparent;
    color: #840c4a;
  }
  
  .btn-secondary {
    background: #f1ede2;
    border: 1px solid #000;
    color: #000;
  }
  .btn-wallet {
    background: #f1ede2;
    border: 1px solid #000;
    color: #000;
    transition: all 0.3s ease;
  }
  .btn-wallet:hover {
    background: #840c4a;
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }
  .btn-primary.focus,
  .btn-primary:focus,
  .btn-primary.active,
  .btn-primary:active {
    color: #f1ede2;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
  .alert-danger {
    margin-top: 5px;
  }
  .login-form h1 {
    line-height: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  .login-form .subh1 {
    font-size: 17px;
    color: #777;
  }
  .profile-card {
    box-shadow: 1px 1px 10px rgb(42 26 93 / 10%);
    padding: 60px;
    margin-top: 0px;
    border-radius: 0px 0px 8px 8px;
  }
  .tastings-card {
    box-shadow: 1px 1px 10px rgb(42 26 93 / 10%);
    padding: 60px;
    padding-top: 20px;
    margin-top: 0px;
    border-radius: 0px 0px 8px 8px;
  }
  .jumbotron {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    background: #840c4a;
    border-radius: 8px 8px 0px 0px;
    color: #fff;
  }
  .new-experience-button {
    float: right;
  }
  label.cameraButton {
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid #840c4a;
    background-color: #fff;
    color: #840c4a;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  #jumbotron-userboard {
    margin-top: 20px;
  }
  .info-message {
    text-align: center;
    border: 2px solid #dbd7ca;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 12px;
    margin-top: 50px;
    background: #f1ecdc;
  }
  .info-message p {
    font-weight: bold;
    color: #5a584f;
  }
  /* Look like a clicked/depressed button */
  label.cameraButton:active {
    border-color: #ccc #eee #eee #ccc;
  }
  
  /* This is the part that actually hides the 'Choose file' text box for camera inputs */
  label.cameraButton input[accept*="camera"] {
    display: none;
  }
  .language-selector {
    width: 100%;
    text-align: right;
  }
  .language-selector li {
    display: inline-block;
    list-style: none;
    color: white;
  }
  .language-selector button {
    border: 0px;
    background: transparent;
    color: white;
    font-size: 14px;
  }
  #top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #840c4a !important;
  }
  .language-selector button:focus {
    outline: none;
  }
  /* 
        Generic Styling, for Desktops/Laptops 
        */
  
  /* 
      Max width before this PARTICULAR table gets nasty
      This query will take effect for any screen smaller than 760px
      and also iPads specifically.
      */
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
      width: 100%;
      border-collapse: collapse;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
      background: #f9f5e7;
    }
    th {
      background: #002e54;
      color: white;
      font-weight: 600;
      font-family: "sofia-pro", Sans-serif;
    }
    td,
    th {
      padding: 6px;
      border: 1px solid #eee;
      text-align: left;
      font-size: 14px;
    }
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    tr {
    }
    .tastings-card {
      background: transparent !important;
      padding: 0px !important;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-left: 50% !important;
    }
  
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      color: #333;
      font-weight: bold;
    }
  
    /*
          Label the data
          */
    td:nth-of-type(1):before {
      content: "Image";
      top: 12px;
    }
    td:nth-of-type(2):before {
      content: "Date";
      top: 12px;
    }
    td:nth-of-type(3):before {
      content: "Token";
      top: 12px;
    }
    td:nth-of-type(4):before {
      content: "Token ID";
      top: 12px;
    }
    td:nth-of-type(5):before {
      content: "Actions";
      top: 12px;
    }
  }
  @media (max-width: 1024px) {
    #header {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: row;
      align-items: center;
      flex-wrap: wrap;
    }
    #header .navbar-brand {
      margin-right: 0px;
    }
    #top-header .language-selector {
      text-align: center;
    }
    .card-container.card {
      margin-top: 50px;
    }
    #header .mobile-nav {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    #jumbotron-userboard {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    #jumbotron-userboard .row {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    .jumbotron {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .jumbotron .row {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    .new-experience-button {
      float: none;
    }
  }
  @media (max-width: 475px) {
    .logo-header {
      width: 150px;
    }
    .navbar {
      padding-left: 20px;
      padding-right: 20px;
    }
    .navbar-brand {
      margin-right: 75px;
    }
  }
  @media (max-width: 375px) {
    .navbar-brand {
      margin-right: 40px;
    }
  }
  @media (max-width: 320px) {
    .navbar-brand {
      margin-right: 20px;
    }
    .logo-header {
      width: 100px;
    }
  }
  
  .center {
    text-align: center;
  }